@import '../styles/index.css';

body:has(aside[data-active='true']) {
	overflow-y: hidden;
	footer {
		transform: translateX(100%);
		@media (min-width: 768px) {
			transform: translateX(768px);
		}
	}
}

aside[data-active='true'] + main {
	transform: translateX(100%);
	@media (min-width: 768px) {
		transform: translateX(768px);
	}
}
aside[data-active='true'] ~ button[data-action] {
	bottom: 1.25em;
	opacity: 1;
}
aside[data-active='true'] + main::after {
	transform: translateX(0);
	backdrop-filter: blur(1em);
	opacity: 0.5;
}

html,
body {
	overflow-x: hidden;
	width: 100%;
	max-width: 100vw;
}
