@font-face {
	font-family: 'Nove';
	src: url('/fonts/nove.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
:root {
	--font-amsterdam: 'New Amsterdam', sans-serif;
	--font-roboto: 'Roboto', serif;
	--font-bangers: 'Bangers';
	--font-nove: 'Nove';
	--font-fira: 'Fira Code', monospace;
}

@theme {
	--font-primary: var(--font-nove);
	--font-secondary: var(--font-fira);
	--font-tertiary: var(--font-bangers);
}
