:root {
	--hue-1: #fec7d7;
	--hue-2: #003727;
	--hue-3: #d9d4e7;
	--hue-4: #a786df;
	--hue-5: #0e172c;
	--hue-6: #fffffe;
	--hue-7: #131225;

	--prime: oklch(from var(--hue-1) l c h);
	--secondary: oklch(from var(--hue-2) l c h);
	--neutral: oklch(from var(--hue-3) l c h);
	--wash: oklch(from var(--hue-4) l c h);
	--accent: oklch(from var(--hue-5) l c h);
	--pop: oklch(from var(--hue-6) l c h);

	--color-wash-100: oklch(from var(--wash) calc(l + 0.2) c h);
	--color-wash-200: oklch(from var(--wash) l c h);
	--color-wash-300: oklch(from var(--wash) calc(l - 0.2) c h);

	--color-prime-100: oklch(from var(--prime) calc(l + 0.2) c h);
	--color-prime-200: oklch(from var(--prime) l c h);
	--color-prime-300: oklch(from var(--prime) calc(l - 0.2) c h);

	--color-accent-100: oklch(from var(--accent) calc(l + 0.2) c h);
	--color-accent-200: oklch(from var(--accent) l c h);
	--color-accent-300: oklch(from var(--accent) calc(l - 0.2) c h);

	--color-pop-100: oklch(from var(--pop) calc(l + 0.2) c h);
	--color-pop-200: oklch(from var(--pop) l c h);
	--color-pop-300: oklch(from var(--pop) calc(l - 0.2) c h);

	--color-secondary-100: oklch(from var(--secondary) calc(l + 0.2) c h);
	--color-secondary-200: oklch(from var(--secondary) l c h);
	--color-secondary-300: oklch(from var(--secondary) calc(l - 0.2) c h);

	--color-neutral-100: oklch(from var(--neutral) calc(l + 0.2) c h);
	--color-neutral-200: oklch(from var(--neutral) l c h);
	--color-neutral-300: oklch(from var(--neutral) calc(l - 0.2) c h);
	--black: var(--hue-7);
}

@theme {
	--color-black: var(--black);
	--color-primary: var(--color-prime-300);
	/* --color-secondary: var(--color-accent-300); */
	--color-wash-100: var(--color-wash-100);
	--color-wash-200: var(--color-wash-200);
	--color-wash-300: var(--color-wash-300);
	--color-prime-100: var(--color-prime-100);
	--color-prime-200: var(--color-prime-200);
	--color-prime-300: var(--color-prime-300);
	--color-accent-100: var(--color-accent-100);
	--color-accent-200: var(--color-accent-200);
	--color-accent-300: var(--color-accent-300);
	--color-pop-100: var(--color-pop-100);
	--color-pop-200: var(--color-pop-200);
	--color-pop-300: var(--color-pop-300);
	--color-secondary-100: var(--color-secondary-100);
	--color-secondary-200: var(--color-secondary-200);
	--color-secondary-300: var(--color-secondary-300);
	--color-neutral-100: var(--color-neutral-100);
	--color-neutral-200: var(--color-neutral-200);
	--color-neutral-300: var(--color-neutral-300);
}
